* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', monospace;
}

.containerNewPassword {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    padding: 32px;
    border-radius: 32px;
    height: auto;
    text-align: end;
    width: 500px;

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input {
            border: none;
            outline: none;
            padding: 13px;
            border-bottom: 1px solid black;
            background-color: #fdfdfd;

            &::placeholder {
                color: gray;
            }
        }

        .bntSalvarSenha {
            padding: 16px;
            border: none;
            background-color: #2683b5;
            font-weight: 400;
            color: #fdfdfd;
            font-size: 16px;
            border-radius: 13px;
            cursor: pointer;

            &:hover {

                /* para o botão mudar de cor 
                
                animation: 5s ease-in linear infinite;
                color: #fafafa;
                background-color: aqua;
                */
                text-decoration: underline;
            }
        }
    }

    p {
        margin-top: 16px;
        font-size: 13px;
        color: black;
    }
}

.titleNewPassword {
    font-size: 28px;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

#paginaNewPassword {
    background-color: #007600;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setaNewPassword {
    width: 40px;
    display: flex;
    margin-top: -50px;
    align-items: start;
    position: relative;
    top: 50px;
}