.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 120px; /* Largura da sidebar */
    background: linear-gradient(#3A8EBB 50%, #007600 50%);
}

.sidebar img {
    display: block;
    height: 55px ;
    cursor: pointer;
    width: 100%;
    margin-bottom: 30px; 
    margin-top: 20px;
  }

.embaixo{
    margin-top: 310px;
    display: flex;
    flex-direction: column;

}

.edraLogo{
    margin-left: 100%;
    /*padding: 0px 1000px;*/
}