<div id="<%= dom_id storage %>">
  <p>
    <strong>Nome:</strong>
    <%= storage.nome %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= storage.quantidade %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= storage.status %>
  </p>

</div>
