body {
  font-family: 'Poppins', monospace;
}

.tituloGeral {
  margin-top: 3rem;
  text-align: center;
  font-size: 180%;
  margin-bottom: 30px;
  margin-right: 60px;
}

.img-text-container2 {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 150px;
  gap: -40px;
}

.fonteDetalheGeral {
  font-size: 15px;
}

.close {
  font-size: 36px;
  cursor: pointer;
  margin-left: auto;
}

.caixa {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.caixa label {
  margin-bottom: 5px;
  font-size: 20px;
}

.caixa input {
  font-size: 20px;
  background-color: #d2d3e4fa;
  border: none;
  outline: none;
  padding: 5px;
}

.bntMaiseMenos {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #3A8EBB;
  border: none;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.trashEstoque {
  height: 15px;
  width: 20px;
  cursor: pointer;
}

.item-container-geral {
  display: flex;
  align-items: center;
  margin-bottom: -15px;
}

.bntMaiseMenosContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.fonteDetalheGeral2 {
  margin: 0 10px;
}

.imagem-selecionada {
  width: 25px;
}

.opcao-imagem {
  margin-right: 10px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.opcao-imagem.selecionada {
  filter: brightness(1) saturate(40);
}

.caixaImg {
  display: flex;
  align-items: center;
}

.caixaImg img:hover {
  filter: brightness(2) saturate(10);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d2d3e4fa;
  padding: 20px;
  width: 550px;
  border-radius: 8%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.containerGeral{
  font-size: 20px;
  display: flex;
  margin-left: 180px;
  flex-direction: column;
}

.img-plusE{
  width: 40px;
}

.fonteDetalheGeral{
  margin-left: -15px;
}


