body {
  font-family: 'Poppins', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#paginaCalendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #070606;
}

.calendarTitulo {
  margin-top: 3rem;
  text-align: center;
  font-size: 180%;
  margin-bottom: 30px;
  margin-left: 80px;
}

.calendarSubTitulo {
  margin-top: 2rem;
  text-align: center;
  font-size: 130%;
  margin-left: 120px;

}

.calendarCorpo {
  width: 80%;
  background-color: #d2d3e4fa;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 2rem;
  color: #070606;
  margin-left: 120px;
}

.calendarCorpo h2 {
  margin: 0 0 1rem 0;
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left,
.right {
  width: 48%;
}

.day.today.active.event {
  background-color: white;
}

.calendar {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  cursor: pointer;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.weekdays div {
  width: calc(100% / 7);
  text-align: center;
}

.days {
  display: flex;
  flex-wrap: wrap;
}

.day {
  width: calc(100% / 7);
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.prev-date,
.next-date {
  color: #d3d3d3;
}

.today {
  background-color: #2683b5;
  border-radius: 0%;
}


.active {
  border: 2px solid #000;
}

.event-preview {
  font-size: 0.8rem;
  color: #333;
}

.goto-today {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.date-input {
  padding: 5px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin-right: 10px;
}

.goto-btn,
.today-btn {
  padding: 5px 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.today-btn {
  background-color: #4caf50;
}

.today-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.event-day {
  font-size: 20px;
  font-weight: bold;
}

.event-date {
  font-size: 20px;
  font-weight: bold;
}

.events {
  margin-bottom: 20px;
}

.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.event-title {
  font-size: 1.2rem;
}

.event-time {
  font-size: 1rem;
}

.no-event {
  text-align: center;
  font-size: 1.2rem;
}

.add-event {
  position: relative;
}

.add-event-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: none;
}

.add-event-wrapper.active {
  display: block;
}

.add-event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-event-body {
  margin-bottom: 10px;
}

.add-event-body input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.add-event-body .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-event-body .time input {
  width: calc(50% - 10px);
}

.add-event-footer {
  text-align: center;
}

.add-event-btn {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.add-event .close {
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  margin-left: 20px;
}

.delete-event {
  width: 20px;
  cursor: pointer;
}

.container img {
  margin-left: 10px;
  height: 20px;
}

.date {
  text-align: center;
  font-size: 15px;
}

.event-month-title {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.no-event h3 {
  font-weight: normal;
  font-size: 15px;
  margin-top: 10px;
}

.events-month .event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.events-month .event-title {
  font-size: 1.2rem;
}

.events-month .event-time {
  font-size: 1rem;
}

.events-month .event-date {
  font-size: 1rem;
  color: #333;
}

.events-month .no-event {
  text-align: center;
  font-size: 10px;
}