body {
  font-family: 'Poppins', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#paginaCalendar {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #070606;
}

.calendarTitulo {
  margin-top: 3rem;
  text-align: center;
  font-size: 200%;
}

.calendarSubTitulo{
  margin-top: 3rem;
  text-align: center;
  font-size: 130%;
  margin-left: 120px;

}

.calendarCorpo {
  width: 80%;
  background-color: #d2d3e4fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
  margin-bottom: 2rem;
  color: #070606;
  margin-left: 120px;
}

.calendarCorpo h2 {
  margin: 0 0 1rem 0;
}
