html,
body {
  overflow-x: hidden;
  /* Impedir rolagem horizontal */
}

.containerDivulgacao {
  padding-top: 7.5rem;
  position: relative;
  z-index: 2;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
  overflow-x: hidden;
  /* Impedir rolagem horizontal */
}

.corpoTexto,
.corpoTextoAreas,
.textoDrones,
.subTopico,
.legenda {
  text-align: justify;
}


.logo1 {
  opacity: 0.2;
  position: absolute;
  height: auto;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) translateY(40%);
}

.logo2 {
  opacity: 0.2;
  position: absolute;
  height: auto;
  z-index: -1;
  left: 100%;
  transform: translateX(-50%) translateY(180%);
}

.logo3 {
  opacity: 0.2;
  position: absolute;
  height: auto;
  z-index: -1;
  left: 0%;
  transform: translateX(-50%) translateY(320%);
}

.logo4 {
  opacity: 0.2;
  position: absolute;
  height: auto;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) translateY(460%);
}

.logo5 {
  opacity: 0.2;
  position: absolute;
  height: auto;
  z-index: -1;
  left: 100%;
  transform: translateX(-50%) translateY(600%);
}

.logo6 {
  opacity: 0.2;
  position: absolute;
  height: auto;
  z-index: -1;
  left: 0%;
  transform: translateX(-50%) translateY(740%);
}

.logo7 {
  opacity: 0.2;
  position: absolute;
  height: auto;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) translateY(880%);
}

.logo8 {
  opacity: 0.2;
  position: absolute;
  height: auto;
  z-index: -1;
  left: 100%;
  transform: translateX(-50%) translateY(1020%);
}

.logo9 {
  opacity: 0.2;
  position: absolute;
  height: auto;
  z-index: -1;
  left: 0%;
  transform: translateX(-50%) translateY(1160%);
}

.logo10 {
  opacity: 0.2;
  position: absolute;
  height: auto;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) translateY(1300%);
}

.logo11 {
  opacity: 0.2;
  position: absolute;
  height: auto;
  z-index: -1;
  left: 100%;
  transform: translateX(-50%) translateY(1440%);
}

.logo12 {
  opacity: 0.2;
  position: absolute;
  height: auto;
  z-index: -1;
  left: 0%;
  transform: translateX(-50%) translateY(1580%);
}

.fotoGeral {
  width: 100%;
}

.topicos {
  margin-top: 3.125rem;
  padding-right: 0.625rem;
  font-size: 2rem;
}

.subTopico {
  margin-left: 2.5rem;
  margin-top: 1.25rem;
  font-size: 1.4rem;
}

.corpoTexto {
  margin-top: 0.625rem;
  font-size: 1rem;
}

.corpoTextoAreas {
  margin-top: 1.875rem;
  display: flex;
  justify-content: center;
  color: #414191;
  font-size: 1.25rem;
}

.circular-imagem {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin: 0 auto;
}

.iconDrone {
  width: 3.75rem;
  height: auto;
  margin-top: 3.125rem;
}

.tituloComIcon {
  display: flex;
  align-items: center;
}

.corpoDrones {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.25rem;
}

.tudoDrones {
  margin-top: 1.25rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.iconDroneImg {
  margin-right: 5rem;
  width: 25rem;
  height: auto;
  margin-top: 1.25rem;
}

.corpoEventosContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
}

.corpoEventos {
  text-align: center;
}

.legendaEventos {
  font-size: 1rem;
  margin: 0;
}

.iconEventoImg {
  margin-right: 5rem;
  width: 25rem;
  height: auto;
  margin-top: 1.25rem;
}

.IconEventoImg2 {
  width: 18.75rem;
  height: auto;
}

.textoDrones {
  display: flex;
  flex-direction: column;
}

.iconLupa {
  width: 1.875rem;
  height: auto;
  margin-top: 3.125rem;
  margin-right: 1.25rem;
}

.bntPS {
  display: flex;
  justify-content: center;
  gap: 7.5rem;
  align-items: center;
  width: 100%;
  padding: 1.25rem;
}

.bntEditalForms {
  padding: 0.9375rem 4.375rem;
  font-size: 1rem;
  font-family: Poppins;
  background-color: #414191;
  color: white;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  margin-top: 0.625rem;
}

.bntEditalForms:hover {
  text-decoration: underline;
}

.legenda {
  margin-top: 0.625rem;
  font-size: 0.625rem;
  text-align: center;
  width: 100%;
}

.iconAgenda {
  margin-right: 1.25rem;
  width: 1.875rem;
  height: auto;
  margin-top: 3.125rem;
}

.tudoEventosComp {
  margin-top: 1.25rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.corpoEventos {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.25rem;
}

.textoEventos {
  display: flex;
  flex-direction: column;
}

.campeonatoX {
  margin-top: 1.25rem;
}

.campeonatoY {
  margin-top: 1.25rem;
}

.paragrafo {}

.fotosIntegrantes {
  margin-top: 0.625rem;
  text-align: center;
  display: flex;
  gap: 3.75rem;
  margin-bottom: 1.25rem;
  justify-content: center;
}

.legendaFotos {
  margin-top: 1.25rem;
  font-size: 0.75rem;
  text-align: center;
}