html,
body {
  overflow-x: hidden;
  /* Impedir rolagem horizontal */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-y: auto;
}

.area {
  overflow: hidden;
}

.containerDivulgacao {
  padding-top: 7.5rem;
  position: relative;
  z-index: 2;
  margin: 0 7.5rem;
  overflow-x: hidden;
  /* Impedir rolagem horizontal */
}

.corpoTexto,
.corpoTextoAreas,
.textoDrones,
.subTopico,
.legenda {
  text-align: justify;
}

.logo1,
.logo2,
.logo3,
.logo4,
.logo5,
.logo6,
.logo7,
.logo8,
.logo9,
.logo10 {
  opacity: 0.2;
  position: absolute;
  height: auto;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  width: 41%;
}

.logo1 {
  top: 40%;
}

.logo2 {
  top: 180%;
  left: 100%;
  transform: translateX(-50%);
}

.logo3 {
  top: 320%;
  left: 0%;
  transform: translateX(-50%);
}

.logo4 {
  top: 460%;
  left: 50%;
  transform: translateX(-50%);
}

.logo5 {
  top: 600%;
  left: 100%;
  transform: translateX(-50%);
}

.logo6 {
  top: 740%;
  left: 0%;
  transform: translateX(-50%);
}

.logo7 {
  top: 880%;
  left: 50%;
  transform: translateX(-50%);
}

.logo8 {
  top: 1020%;
  left: 100%;
  transform: translateX(-50%);
}

.logo9 {
  top: 1160%;
  left: 0%;
  transform: translateX(-50%);
}

.logo10 {
  top: 1300%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.fotoGeral {
  width: 100%;
}

.topicos {
  margin-top: 3.125rem;
  padding-right: 0.625rem;
  font-size: 2rem;
}

.subTopico {
  margin-left: 2.5rem;
  margin-top: 1.25rem;
  font-size: 1.4rem;
}

.corpoTexto {
  margin-top: 0.625rem;
  font-size: 1rem;
}

.corpoTextoAreas {
  margin-top: 1.875rem;
  display: flex;
  justify-content: center;
  color: #414191;
  font-size: 1.25rem;
}

.circular-imagem {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin: 0 auto;
}

.iconDrone {
  width: 3.75rem;
  height: auto;
  margin-top: 3.125rem;
}

.tituloComIcon {
  display: flex;
  align-items: center;
}

.corpoDrones {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.25rem;
}

.tudoDrones {
  margin: 1.25rem 2.5rem;
}

.iconDroneImg {
  margin-right: 5rem;
  width: 25rem;
  height: auto;
  margin-top: 1.25rem;
}

.corpoEventosContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
}

.corpoEventos {
  text-align: center;
}

.legendaEventos {
  font-size: 1rem;
  margin: 0;
}

.iconEventoImg {
  margin-right: 5rem;
  width: 25rem;
  height: auto;
  margin-top: 1.25rem;
}

.IconEventoImg2 {
  width: 18.75rem;
  height: auto;
}

.textoDrones {
  display: flex;
  flex-direction: column;
}

.iconLupa {
  width: 1.875rem;
  height: auto;
  margin-top: 3.125rem;
  margin-right: 1.25rem;
}

.bntPS {
  display: flex;
  justify-content: center;
  gap: 7.5rem;
  align-items: center;
  width: 100%;
  padding: 1.25rem;
}

.bntEditalForms {
  padding: 0.9375rem 4.375rem;
  font-size: 1rem;
  font-family: Poppins;
  background-color: #414191;
  color: white;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  margin-top: 0.625rem;
}

.bntEditalForms:hover {
  text-decoration: underline;
}

.legenda {
  margin-top: 0.625rem;
  font-size: 0.625rem;
  text-align: center;
  width: 100%;
}

.iconAgenda {
  margin-right: 1.25rem;
  width: 1.875rem;
  height: auto;
  margin-top: 3.125rem;
}

.tudoEventosComp {
  margin: 1.25rem 2.5rem;
}

.corpoEventos {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.25rem;
}

.textoEventos {
  display: flex;
  flex-direction: column;
}

.campeonatoX {
  margin-top: 1.25rem;
}

.campeonatoY {
  margin-top: 1.25rem;
}

.paragrafo {}

.fotosIntegrantes {
  margin-top: 0.625rem;
  text-align: center;
  display: flex;
  gap: 3.75rem;
  margin-bottom: 1.25rem;
  justify-content: center;
}

.legendaFotos {
  margin-top: 1.25rem;
  font-size: 0.75rem;
  text-align: center;
}

.footer ~ * {
  display: none;
}

/* Media queries para telas menores */
@media (max-width: 1000px) {
  .containerDivulgacao {
    margin: 0 3rem;
  }

  .logo1,
  .logo2,
  .logo3,
  .logo4,
  .logo5,
  .logo6,
  .logo7,
  .logo8,
  .logo9{
    display: none; /* Oculta as logos em telas menores que 1200px */
  }
}

/* Ajuste de tamanho das logos para telas maiores */
@media (min-width: 1800px) {
  .logo1,
  .logo2,
  .logo3,
  .logo4,
  .logo5,
  .logo6,
  .logo7,
  .logo8,
  .logo9 {
    max-width: 150%; /* Aumenta o tamanho das logos em telas maiores que 1600px */
  }
}
