.containerDivulgacao {
  padding-top: 120px;
  /* Ajuste este valor conforme a altura do header */
  position: relative;
  z-index: 2;
  margin-left: 120px;
  margin-right: 120px;
}

.corpoTexto,
.corpoTextoAreas,
.textoDrones,
.subTopico,
.legenda {
  text-align: justify;
}

.img-edraV {
  opacity: 0.2;
  position: absolute;
  height: auto;
  /* Mantém a proporção da imagem */
  z-index: -1;
}

.fotoGeral {
  width: 100%;
}

.topicos {
  margin-top: 50px;
  padding-right: 10px;
  font-size: 40px;
}

.subTopico {
  margin-left: 40px;
  margin-top: 20px;
  font-size: 30px;
}

.corpoTexto {
  margin-top: 10px;
  font-size: 20px;;
}

.corpoTextoAreas {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: #414191;
  font-size: 27px;
}

.circular-imagem {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  /* Garante que a imagem cubra completamente o elemento */
  overflow: hidden;
  /* Garante que a imagem não transborde dos limites */
  margin-left: 60px;
  margin: 0 auto;
}

.iconDrone {
  width: 60px;
  height: auto;
  /* Mantém a proporção da imagem */
  margin-top: 50px;
}

.tituloComIcon {
  display: flex;
  align-items: center;
}

.corpoDrones {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.tudoDrones {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.iconDroneImg {
  margin-right: 80px;
  /* Espaço entre a imagem e o texto */
  width: 400px;
  height: auto;
  margin-top: 20px;
}

.corpoEventosContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.corpoEventos {
  text-align: center;

}

.legendaEventos {
  font-size: 16px;
  margin: 0;
}

.iconEventoImg {
  margin-right: 80px;
  /* Espaço entre a imagem e o texto */
  width: 400px;
  height: auto;
  margin-top: 20px;
}

.IconEventoImg2 {
  width: 300px;
  height: auto;
}

.textoDrones {
  display: flex;
  flex-direction: column;
}

.iconLupa {
  width: 30px;
  height: auto;
  /* Mantém a proporção da imagem */
  margin-top: 50px;
  margin-right: 20px;
}

.bntPS {
  display: flex;
  justify-content: center;
  /* Horizontalmente */
  gap: 120px;
  align-items: center;
  /* Verticalmente */
  width: 100%;
  padding: 20px;
}

.bntEditalForms {
  padding: 15px 70px;
  font-size: 16px;
  font-family: Poppins;
  background-color: #414191;
  color: White;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.bntEditalForms:hover {
  text-decoration: underline;
}

.legenda {
  margin-top: 10px;
  font-size: 10px;
  text-align: center;
  width: 100%;
}

.iconAgenda {
  margin-right: 20px;
  width: 30px;
  height: auto;
  margin-top: 50px;
}

.tudoEventosComp {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.corpoEventos {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.textoEventos {
  display: flex;
  flex-direction: column;
}

.campeonatoX {
  margin-top: 20px;
}

.campeonatoY {
  margin-top: 20px;
}

.paragrafo {}

.fotosIntegrantes {
  margin-top: 10px;
  text-align: center;
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
  justify-content: center;
}

.legendaFotos {
  margin-top: 20px;
  font-size: 12px;
  /* Tamanho da fonte (ajuste conforme necessário) */
  text-align: center;
}