.tabelaProx {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabelaProx th,
.tabelaProx td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.tabelaProx th {
    background-color: #f2f2f2;
}