.tabelaProx {
    width: 100%;
    max-width: 50.5rem;
    border-collapse: collapse;
    margin: 1.25rem auto 0.625rem auto;
}

.tabelaProx th,
.tabelaProx td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}

.tamanhoEvento {
    width: 45%;
}

.tamanhoLocal {
    width: 25%;
}

.tamanhoData {
    width: 30%;
}
