.footer {
    background-color: #2683b5;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.logoNome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 120px;
}

.logoNome img {
    width: 70px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.descricao {
    font-size: 10px;
}

/* localização */
.meio1 {
    margin: 10px;
    max-width: 150px;
}

.localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.localizacao a {
    color: inherit;
}

.localizacao a:hover {
    text-decoration: underline;
}

.loc {
    width: 30px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* contatos */
.meio2 {
    margin: 10px;
}

.contatos {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin: 10px 0;
}

.contatos img {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.contatos a {
    color: inherit;
    text-decoration: none;
}

.contatos a:hover {
    text-decoration: underline;
}

/* notícias */
.meio3 {
    margin: 10px;
}

.meio3 a {
    color: white;
    font-size: 10px;
    display: block;
    margin: 13px 0;
}

.meio3 a:hover {
    text-decoration: underline;
}

.direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.unbFooter {
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.hydra {
    width: 60px;
    height: auto;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .meio1,
    .meio2,
    .meio3,
    .direita,
    .logoNome {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
}