.tabelaPS {
    width: 100%;
    max-width: 25rem;
    border-collapse: collapse;
    margin: 1.25rem auto 0.625rem auto;
}

.tabelaPS th,
.tabelaPS td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}

.tabelaPS th {
    width: 30%;
}

.tabelaPS td {
    width: 70%;
}
