.tabelaPS {
    width: 800px;
    border-collapse: collapse;
    margin-bottom: 10px;
    margin: 20px auto 10px auto;
    margin-top: 20px;
}

.tabelaPS th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    width: 30%;

}

.tabelaPS td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    width: 70%;
}