<div id="<%= dom_id documento %>">
  <p>
    <strong>Nome:</strong>
    <%= documento.nome %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= documento.link %>
  </p>

  <p>
    <strong>User:</strong>
    <%= documento.user_id %>
  </p>

</div>
