<h1>Editing documento</h1>

<%= render "form", documento: @documento %>

<br>

<div>
  <%= link_to "Show this documento", @documento %> |
  <%= link_to "Back to documentos", documentos_path %>
</div>
