.container{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .container img {
    height:500px
  }
  
  .container p {
    font-size: 18px;
  }
  
  .container span{
    color: purple;
  }
  
  .btn {
    width: 250px;
    height: 100px;
    font-size: 25px;
    font-weight: bold;
    border: 0;
    border-radius: 18px;
    color: #fdfdfd;
    background-color: #414191;
    cursor: pointer;
  }
  
  .btn:hover{
    text-decoration: underline;
  }

  #paginaFinance{
    background-color: #414191;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
