<div id="<%= dom_id user %>">
  <p>
    <strong>Matricula:</strong>
    <%= user.matricula %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= user.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

</div>
