<div id="<%= dom_id reuniao %>">
  <p>
    <strong>Nome:</strong>
    <%= reuniao.nome %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= reuniao.link %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reuniao.user_id %>
  </p>

</div>
