<p style="color: green"><%= notice %></p>

<h1>Reuniaos</h1>

<div id="reuniaos">
  <% @reuniaos.each do |reuniao| %>
    <%= render reuniao %>
    <p>
      <%= link_to "Show this reuniao", reuniao %>
    </p>
  <% end %>
</div>

<%= link_to "New reuniao", new_reuniao_path %>
