<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Redefinição de Senha</h1>
    <p>Olá, <%= @user.email %>,</p>
    <p>Você pode redefinir sua senha clicando no link abaixo:</p>
    <p><a href="<%= @reset_url %>">Redefinir Senha</a></p>
    <p>Se você não requisitou uma redefinição de senha, ignore este e-mail.</p>
    <p>Obrigado,</p>
    <p>Pollux</p>
  </body>
</html>
